@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.arrow {
    transition: transform 0.3s ease; 
    font-size: 1.2em;
    color: #888;
  }
  
  .arrow:hover {
    transform: translateY(-2px);
  }
  
  .submenu.show + a .arrow {
    transform: rotate(180deg); 
  }

  .submenu {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .icono-side {
    margin-right: 5px; /* Espacio entre el icono y el texto */
    font-size: 1.2em;  /* Tamaño del icono */
    /* ... Otros estilos que desees ... */
  }

  .icono-menu { /* O puedes usar una clase específica para este icono */
    font-size: 3em; /* Ajusta el valor según el tamaño que desees */
    margin-bottom: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    align-items: center; /* Alinea verticalmente (opcional) */
}

.flex-1 {
  text-align: center;
}

.tabla-centrada {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-dropdown {
  text-align: left; /* Alinea el contenido a la izquierda */
}

.student-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.profile-picture {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.student-info {
  flex: 1;
}

.student-actions {
  display: flex;
  flex-direction: column;
}

.student-actions button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.student-actions #edit-button {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.student-actions #delete-button {
  background-color: #f44336; /* Rojo */
  color: white;
}

/* Cargar Notas CSS */

.h1Docente{
  font-size: 34px;
  text-shadow: 0 0 BLACK;
  text-align: left;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #d3d2d2;
  width: 1280px;
}

.col-lg-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-default {
  border-color: #ddd !important;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  width: 430px;
}

.panel-body {
  padding: 20px;
  margin-top: -20px;
}

.text-default-black{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  display: flex;
}

.text-default-black{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  display: flex;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  display: flex;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.text-table-head {
  display: flex;
  font-size: 18px;
}

.btn-success {
  color: #fff;
  background-color: #3b82f6;
  border-color: #3b82f6;
  margin-left: 6px;
  font-size: 16px;
}

.btn-success:hover {
  color: #fff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

.ajuste-tablas {
  display: flex;
  flex-direction: row;
}

.col-lg-8 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.panel-carga {
  width: 800px !important;
  margin-left: 50px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-6 {
  width: 50%;
}

.d-flex{
  display: flex;
}

.support-flex {
  display: flex;
  margin-bottom: 15px;
}

.odd {
  background-color: #f9f9f9;
}

.even {
  background-color: #ffffff;
}

.input-sm {
  height: 30px !important;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

select.input-sm {
  height: 30px !important;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.info-table-head {
  line-height: 2;
  border-top: 0;
  vertical-align: bottom !important;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}

.col-sm-12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.table-height{
  height: 8px !important;
}

td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
}

tbody {
  line-height: 2.5;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #ddd;
}

.panel-carga-seccion {
  width: 900px !important;
  margin-left: 30px;
}

.bottom-success {
  font-size: 19px;
  border-radius: .5rem;
  color: #fff;
  background: #3b82f6;
  border: 5px solid #3b82f6;
  height: 35px;
  width: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.bottom-success:hover {
  color: #fff;
  background: #1d4ed8;
  border: #1d4ed8;
}

.panel-carga-academica {
  width: 1280px !important;
}

.padding-carga{
    position: relative;
    min-height: 1px;
    padding-right: 35px;
    padding-left: 35px;
}

.status-activo {
  color: white;
  text-shadow: 0 0 WHITE;
  background: #3b83f6d2;
}

.status-finalizado {
  color: white;
  text-shadow: 0 0 WHITE;
  background: #f86868d0;
}

.h1Advertencia{
  font-size: 34px;
  text-shadow: 0 0 BLACK;
  text-align: center;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #d3d2d2;
  width: 100%px;
}

#alert-changes{
  max-width: 30%;
  height: 30%;
  border-radius: 0.6rem;
}

#alert-changes::backdrop{
  background-color: rgba(0,0,0,.55);
}

.btn-confirm {
  color: #fff;
  background-color: #3b82f6;
  border-color: #3b82f6;
  margin-left: 6px;
  font-size: 16px;
  width: 170px;
  margin-left: 200px;
  margin-top: 20px;
}

.btn-confirm:hover {
  color: #fff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

.text-black-alert{
  text-align: center;
  font-size: 16px;
  text-shadow: 0 0 black;
  font-weight: bold;
}

.distancia_show {
  margin-left: 50px;
  margin-bottom: 20px;
}

.entradas_search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.distancia_left {
  margin-left: 750px;
}

.border_radio {
  border-radius: .6rem;
}

.casilla_editora {
  text-align: center;
}

.panel-modificacion-datos{
  width: 1024px;
}

.ajust-btn {
  margin-left: 400px !important;
  margin-top: 0px !important;
}

#alert-edit{
  max-width: 105%;
  height: 45%;
  border-radius: 0.6rem;
}

#alert-edit::backdrop{
  background-color: rgba(0,0,0,.55);
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #2885d6;
  border-color: #2885d6;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.ajust-left {
  margin-left: 700px;
}

.ajust-right {
  display: flex;
  margin-left: 60px;
}

.agregarData {
  background: #3b82f6;
  margin-bottom: 10px;
  color: white;
  display: flex;
  height: 40px;
  width: 200px;
  padding: 4px;
  align-items: center;
  border-radius: .5rem;
  justify-content: center;
}

.agregarData:hover{
  background: #1d4ed8;
}

.panel-agregar-datos{
  width: 1024px;
}

#add-representante {
  height: 45%;
  border-radius: 0.6rem;
}

.bottom-delete {
  font-size: 19px;
  border-radius: .5rem;
  color: #fff;
  background: #f63b3b;
  border: 5px solid #f63b3b;
  height: 35px;
  width: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.bottom-delete:hover {
  color: #fff;
  background: #d81d1d;
  border: #d81d1d;
}

#alert-deletedata{
  max-width: 30%;
  height: 30%;
  border-radius: 0.6rem;
}

#alert-deletedata::backdrop{
  background-color: rgba(0,0,0,.55);
}